.container {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.zone {
  width: 100px;
  height: 100px;
  border: solid black;
  margin: 20px;
  display: inline-block;
  transition: 0.5s all;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

#announcement{
  margin: 0 auto;
  text-align: center;
  width: 40%;
  border: 1px solid black;
  display: none;
}
